<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <title>Book Details</title>
</head>
<body>

    <div class="container">
        <nav class="navbar navbar-light bg-light  mb-3">
          <div class="container-fluid">
            <a class="navbar-brand" href="/">
              <h1 class="display-5 fw-bold"><span style="color:cadetblue">Book</span><span>Hive</span></h1>
            </a>
            <div th:insert="components/book-search :: search-panel"></div>
          </div>
        </nav>  
        <section class="content">
            <div class="card mb-3">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img th:src="${converImageUrl}" 
                        class="img-fluid rounded-start" alt="coverImage">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title display-1" th:text="${book.name}">Book Name</h5>
                      <p class="card-text display-5" th:text="${book.authorNames}">Auhtor name</p>
                      <p class="card-text" th:text="${book.description}">Book description</p>
                      <p class="card-text">Published Date: <small class="text-muted" th:text="${book.publishedDate}">2023-01-01</small></p>
                      
                      <div class="card" th:unless="${loginId}" >
                        <div class="card-body">
                          <h5 class="card-title">Login to track this book</h5>
                          <p class="card-text">Mark reading dates, completion status and star ratings</p>
                          <a href="/oauth2/authorization/github" class="btn btn-primary">Login via GitHub</a>
                        </div>
                      </div>
                      
                    <form th:if="${loginId}" action="" th:attr="action=@{/addUserBook}" method="POST">
                        <input type="hidden"
                          th:name="${_csrf.parameterName}"
                          th:value="${_csrf.token}"  
                        />
                        <input type="hidden" 
                          name="bookId" 
                          th:value="${book.id}"/>
                        <div class="mb-3">
                          <label for="startDate" class="form-label">Start Date</label>
                          <input th:value="${userBooks.startedDate}" name="startDate" type="date" class="form-control" id="startDate">
                        </div>
                        <div class="mb-3">
                          <label for="completedDate" class="form-label">Completed Date</label>
                          <input th:value="${userBooks.completedDate}" name="completedDate" type="date" class="form-control" id="completedDate">
                        </div>
                        
                        <div class="mb-3">
                          <label for="readingstatus" class="form-label">Reading Status</label>
                          <select  th:field="${userBooks.readingStatus}"  name="readingStatus" class="form-select" aria-label="reading status" id="readingStatus">
                            <option selected value="0">Status</option>
                            <option value="reading">Currently Reading</option>
                            <option value="finished">Finished</option>
                            <option value="dnf">Did not Finish</option>
                          </select>
                        </div>

                         
                        <div class="mb-3">
                          <label for="rating" class="form-label">Rating</label>
                          <select  th:field="${userBooks.rating}" name="rating" class="form-select" aria-label="rating" id="rating">
                            <option selected value="0">Select Rating</option>
                            <option value="1">&#9733;</option>
                            <option value="2">&#9733;&#9733;</option>
                            <option value="3">&#9733;&#9733;&#9733;</option>
                            <option value="4">&#9733;&#9733;&#9733;&#9733;</option>
                            <option value="5">&#9733;&#9733;&#9733;&#9733;&#9733;</option>
                          </select>
                        </div>
                        <button type="Submit" class="btn btn-primary">Submit</button>
                        
                    </form>
                    </div>
                  </div>
                </div>
            </div>
        </section>
    </div>    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
</body>
</html>